.backToTop {
    box-shadow: -4px 4px 24px -10px #f55f8d;
    color: #fff;
    background: #ff6600;
    width: 50px;
    height: 50px;
    border-radius: 36px;
    line-height: 35px;
    position: fixed;
    right: 20px;
    bottom: 55px;
    z-index: 99;
    text-align: center;
    border: none;
    outline: none;
    visibility: hidden;
    transition: 0.3s ease-out;
}

.backToTop span {
    font-size: 18px;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}
