* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.blogPosts {
  background-color: #f7f7f7;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.card {
  border: none;
}
.card-img {
  border-radius: 0.5rem;
}
.card__header {
  position: relative;
}
.card__header a.reciepe {
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
  background-color: #ff6600;
}
.card__header .img__last {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.meta__info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.fa-clock-o:before {
  content: "\f017";
  color: #f7f7f7;
}
.card__body {
  background-color: #f7f7f7;
}
.card__last {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: space-between;
}

.card__line {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}
.img__radius {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 10px;
}
a:hover {
  text-decoration: none;
  color: #000;
}
.h3 {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #000;
  margin-top: 25px;
  margin-bottom: 15px;
}
.name {
  font-weight: 700;
  color: #000;
  letter-spacing: 0.02em;
}
.read__more {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #000;
}
.read__more:hover {
  color: #ff6600;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
}
h2 {
  margin-top: none;
  margin-bottom: none;
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
  text-align: center;
}
