* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.categories {
    background: #f7f7f7;
}

.categories__title {
    text-align: center;
}

.categories__title h6 {
    color: #ff6600;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-family: 'Pacifico', cursive;
    display: block;
}

.categories__title p {
    font-size: 2.375rem;
    font-weight: 600;
    line-height: 48px;
    font-family: 'Quicksand', sans-serif;
}

.categories__item .item__content {
    position: relative;
}

.categories__item .item__content a {
    cursor: pointer;
    text-decoration: none;
}

.categories__item .item__img a::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    border-radius: 6px;
}

.item__img a:hover::after {
    color: #4f9da6;
}

.item__img img {
    width: 100%;
    border-radius: 6px;
    transition: all .5s;
}

.item__img img:hover {
    opacity: .85;
}

.categories__item .item__text {
    position: absolute;
    left: 50px;
    bottom: 15px; 
    opacity: 1;
}

.categories__item .item__text h4 {
    color: #FFFFFF;
    font-size: 1.375rem;
    font-weight: 700;
}

.categories__item .item__text p {
    color: #ffc600;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1px;
}

@media (min-width: 1280px) {
    .categories__title p {
        font-size: 2.7rem;
        line-height: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .categories__title h6 {
        font-size: 1.5rem;
        line-height: 30px;
    }
    .categories__title p {
        font-size: 2.1rem;
        line-height: 35px;
    }
    .categories__item .item__text h4 {
        font-size: 1.125rem;
        line-height: 29px;
    }
    .categories__item .item__text p {
        font-size: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .categories__title h6 {
        font-size: 1rem;
        line-height: 25px;
    }
    .categories__title p {
        font-size: 1.89rem;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    .categories__title h6 {
        font-size: .8rem;
    }
    .categories__title p {
        font-size: 1.5rem;
        line-height: 25px;
    }
}