* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.copyright {
  background-color: black;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 16px 0;
}
.copyright .copy__right ul {
  display: flex;
  list-style-type: none;
}

.copy__right ul li {
  margin-right: 35px;
}
.copy {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.copy__right {
  justify-content: space-between;
}
.copy__aw3l {
  color: #ff6600;
}
.copy__aw3l:hover {
  color: white;
}
.copy__left {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}
.copy__aul {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.copy__aul:hover {
  color: #ff6600;
  text-decoration: none;
}
