* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
footer {
  background-color: black;
}
h2.nav {
  text-align: left;
  line-height: 1.2;
}
h2 a.navbar__brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}
h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
  margin-top: 0;
}
a.navbar__brand:hover {
  color: #ff6600;
}
p.p__lorem {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
ul.ul__footer li {
  list-style-type: none;
  margin-bottom: 10px;
}
ul.ul__footer li a:hover {
  color: #ff6600;
}
ul.ul__footer li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.main__footer a span {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: white;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}
.main__footer a span:hover {
  background-color: #ff6600;
  color: white;
}
input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: #a5a2a1;
  background: white;
  border-radius: 6px;
}
input[type="email"]:focus {
  border: 1px solid #ff6600;
}
.subscribe button.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: #ff6600;
}
.subscribe button.btn-style:hover {
  opacity: 0.8;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .footer .main__footer {
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer .main__footer {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer .main__footer {
    text-align: center;
  }
}