* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

body {
    text-align: left;
}


/* Header Css */

#header {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url('../img/banner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 700px;
}

#header .header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo:hover {
    text-decoration: none;
}

.header__logo h2 {
    font-weight: 700;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    text-align: left;
}

#header .header__icons {
    display: flex;
}

.header__input {
    position: relative;
}

.header__input input {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.header__input span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    cursor: pointer;
    color: #555;
}
.header__themes {
    margin-left: 20px;
}

.header__themes i {
    font-size: 24px;
    color: white;
}

.header__themes-sun {
    display: none;
}

.header__themes,
.header__menu {
    cursor: pointer;
}

.header__menu {
    z-index: 0;
    margin-left: 20px;
}

.header__menu:focus {
    box-shadow: none;
}

.header__menu i {
    color: white;
    font-size: 26px;

}

.header__content {
    padding-top: 120px;
    max-width: 600px;
}

.header__content h2 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    color: white;
    text-align: left;
}

.header__content p {
    font-size: 16px;
}

.header__content button {
    padding: 12px 44px; 
    transition: all 0.5s;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid white;
}

.header__content button:hover {
    color: #ff6600;
}

.header__content button span {
    font-weight: 900;
}

.btn-outline-light.focus, .btn-outline-light:focus {
    box-shadow: none;
}


/* Overlay Header Css */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 77%);
    z-index: 9999;
}

.overlay__scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay__scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.overlay button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 6px;
}

.overlay button:focus {
    box-shadow: none;
}

.overlay button:hover {
    color: white;
}

.overlay nav {
    position: relative;
    height: 60%;
    top: 20%;
}

.overlay ul {
    list-style: none;
}

.overlay ul li {
    margin-bottom: 20px;
}

.overlay ul li a {
    color: white;
    font-size: 22px;
    font-weight: 600;
    transition: 0.3s;
}

.overlay ul li a:hover {
    color: #ff6600;
    text-decoration: none;
}


/* About Us Css */
.aboutUs {
    background: #f7f7f7;
}

.aboutUs h5 {
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
}

.aboutUs h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    color: #232121;
    text-align: left;
}

.aboutUs p {
    color: #161c2db3;
    font-size: 18px;
    line-height: 28px;
    margin-left: 4px;
}


/* Carousel Css */

.carousel .carousel__row {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    background-color: #ff6600;
}

.carousel__img-img {
    width: 100%;
    background: url('../img/banner3.jpg') no-repeat center;
    background-size: cover;
    min-height: 600px;
    position: relative;
    z-index: 1;
    -webkit-background-size: cover;
}

.carousel__img-img::before {
    position: absolute;
    content: "";
    background: rgb(16 15 19 / 46%);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-height: 100%;
}

.carousel__content {
    background-color: #ff6600;
}

.carousel__content h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    display: block;
    font-family: 'Pacifico', cursive;
}

.carousel__content h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #232121;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}
.carousel__content p {
    color: #ffdfc9;
    font-size: 18px;
    width: 90%;
}

.carousel__box:hover i {
    color: #ffc600;
}

.carousel__box i {
    width: 70px;
    height: 70px;
    text-align: center;
    background: white;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    font-size: 26px;
    color: #ff6600;
    transition: 0.6s;
}

.carousel__box a {
    display: block;
    color: black;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
}

.carousel__box a:hover {
    opacity: 0.8;
    text-decoration: none;
}



/* Theme Dark */

.dark .header__themes-dark {
    display: none;
}

.dark .header__themes-sun {
    display: block;
}

.dark input[type="email"],
.dark .main__footer a span,
.dark .testimonials,
.dark .numb__countUp,
.dark .video__part,
.dark .countUP__item .countItem__content,
.dark .services,
.dark .aboutUs,
.dark .header__input input {
    background-color: #232220;
}

.dark .content.clients p,
.dark .blogPosts .card__body p,
.dark .countItem__content p.subcrip,
.dark .itemsv__right h4 a,
.dark .itemsv__content p:last-of-type,
.dark .aboutUs h3,
.dark .aboutUs p,
.dark .header__input span {
    color: #c2d0da;
}

.dark .h3,
.dark .name,
.dark .read__more,
.dark .testimonials h2,
.dark .clients blockquote q, 
.dark .testimonials__name,
.dark .blogPosts h2,
.dark .countItem__content .number,
.dark .categories__title p,
.dark .carousel__content h3,
.dark .carousel__box a {
    color: #fff;
}

.dark .blogPosts .card__body,
.dark .blogPosts .card,
.dark .blogPosts,
.dark .categories {
    background-color: #282828;
}

.dark .itemsv__content {
    background-color: #232220;
    border: 1px solid #565353;
}

.dark .itemsv__right h4 a:hover {
    color: #ff6600;
}

.dark .main__footer a span:hover {
    background-color: #ff6600;
    color: #fff;
}



@media (min-width: 992px) {
    .carousel__content p {
        width: 94%;
    }

    .carousel__img {
        padding-left: 0;
    }
}


@media (min-width: 769px) and (max-width: 991px) {
    header .container {
        min-width: 720px;
    }
    .header__content h2 {
        font-size: 40px;
    }
    .aboutUs .container .row {
        display: block;
    }
    .aboutUs .container .row .col-md-5 {
        max-width: 100%;
        padding: 0 30px;
        margin-bottom: 36px;
    }
    .aboutUs h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .aboutUs .container .row .col-md-7 {
        max-width: 100%;
        padding: 0 30px;
    }
    .carousel .carousel__row {
        display: block;
    }
    .carousel .carousel__row .col-md-6 {
        max-width: 100%;
        padding: 0 20px;
    }

    .carousel .carousel__row .carousel__img {
        padding-top: 50px;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .carousel .carousel__img-img {
        min-height: 200px;
        width: 97%;
    }
    
    .carousel__content h5 {
        font-size: 19px;
    }

    .carousel__content h3 {
        font-size: 34px;
        line-height: 36px;
    }

    .carousel__content p {
        width: 100%;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    #header {
        min-height: 600px;
    }

    .header__input {
        display: none;
    }

    #header .header__navbar {
        padding-top: 30px !important;
    }

    .overlay ul li {
        margin-bottom: 14px;
    }

    .overlay ul li a {
        font-size: 18px;
    }

    .header__content h2 {
        font-size: 40px;
    }

    .header__content p {
        margin-bottom: 20px !important;
    }

    .aboutUs h5 {
        font-size: 16px;
    }

    .aboutUs h3 {
        font-size: 30px;
        line-height: 36px;
    }

    .aboutUs .container .row .col-md-5 {
        margin-bottom: 40px;
    }

    .aboutUs p {
        font-size: 16px;
    }

    .carousel .carousel__row .carousel__img {
        padding-top: 40px;
    }

    .carousel__img-img {
        min-height: 200px;
        width: 97%;
    }
    .carousel .carousel__content {
        padding: 0 !important;
    }

    .carousel__content h5 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 30px;
    }

    .carousel__content h3 {
        font-size: 30px;
        line-height: 36px;
    }

    .carousel__content p {
        width: 93%;
        font-size: 16px;
    }

    .carousel .carousel__box {
        width: 50%;
        margin-bottom: 34px;
    }
}

@media (max-width: 480px) {
    #header {
        min-height: 450px;
    }

    .header__input {
        display: none;
    }

    #header .header__navbar {
        padding-top: 24px !important;
    }

    .header__menu {
        margin-right: 18px;
    }

    .header__themes  {
        margin-top: 6px;
    }

    .header__content {
        padding-top: 38px;
        max-width: 500px;
    }

    .header__content h2 {
        width: 86%;
        font-size: 27px;
        line-height: 38px;
    }

    .header__content button {
        padding: 12px 30px;
    }

    .overlay ul li {
        margin-bottom: 16px;
    }

    .overlay ul li a {
        font-size: 16px;
    }

    .aboutUs h5 {
        font-size: 16px;
    }

    .aboutUs h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .aboutUs .container .row .col-md-5 {
        margin-bottom: 40px;
    }

    .aboutUs p {
        font-size: 16px;
    }

    .carousel__img-img {
        min-height: 200px;
        width: 97%;
    }

    .carousel .carousel__row .carousel__img {
        margin-top: 44px;
    }

    .carousel__content {
        padding: 14px !important;
    }

    .carousel__content h5 {
        font-size: 16px;
    }

    .carousel__content h3 {
        font-size: 26px;
        line-height: 26px;
    }

    .carousel__content p {
        font-size: 16px;
    }

    .carousel__box {
        width: 50%;
        margin-bottom: 20px;
    }
}