* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Carousel on number Count Up  */
.numberCountUp {
    background: url(../img/banner2.jpg) no-repeat center;
    position: relative;
    z-index: 1;
}

.numberCountUp::before {
    background: rgb(16 15 19 / 66%);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    z-index: -1;
}

.numberCountUp__content {
    width: 100%;
    padding: 0 15px;
}

.numberCountUp__content .numb__title {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

.numberCountUp__content .numb__title h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    font-family: 'Quicksand', sans-serif;
    max-width: 800px;
}

.read__contact .btn__readmore {
    color: #FFFFFF;
    background: transparent;
    border: 2px solid #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    padding: 12px 45px;
    border-radius: 6px;
    margin: 48px 24px 0 0;
    transition: all .3s ease-in-out;
}

.read__contact .btn__readmore i {
    margin-left: 10px;
    display: inline-block;
}

.read__contact .btn__readmore:hover {
    background-color: #FFFFFF;
    color: #FF6600;
}

.read__contact .btn__contactus {
    color: #FFFFFF;
    background: #FF6600;
    border: 2px solid #FF6600;
    border-radius: 6px;
    padding: 12px 45px;
    font-size: 1.06rem;
    font-weight: 700;
    line-height: 30px;
    margin-top: 48px;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.read__contact .btn__contactus i {
    margin-left: 10px;
}

.read__contact .btn__contactus:hover {
    opacity: .8;
}

/* Carousel on number Count Up  */

/* Count up number  */
.numb__countUp {
    position: relative;
    z-index: 10;
    /* margin-top: -70px; */
}

.countUp__content {
    width: 100%;
    padding: 0 15px;

}

.countUP__item .countItem__content {
    background-color: #fff;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    border-radius: 6px;
    text-align: center;
    padding: 40px 20px;
    transition: all .3s ease;
    margin-top: -70px;
}

.countItem__content i {
    background: #ff6600;
    color: #fff;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    font-size: 1.625rem;
}

.countItem__content .number {
    color: #232121;
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 16px;
}

.countItem__content p.subcrip {
    color: #161C2DB3;
    font-size: 1.1rem;
    font-weight: 600;
}

.countItem__content:hover {
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transform: translateY(-.25rem);
}
/* Count up number  */

/* video  */
.video__content {
    width: 100%;
    padding: 0 15px;
}

.video__content {
    background: url(../img//banner3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    border-radius: 6px;
    z-index: 1;
    min-height: 500px;
    position: relative;
}

.video__content::before {
    background: rgb(16 15 19 / 60%);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    z-index: -1;
    border-radius: 6px;
}

.video__content .item__icon {
    text-align: center;
    /* margin-top: 180px; */
}

.video__content .item__icon i {
    background: #fff;
    color: #FF6600;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.625rem;
    border: none;
    transition: all .3s ease-in-out;
    animation: ripple 1s linear infinite;
    /* animation-name: ripple;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
}

.video__content .item__icon i:hover {
    color: #fff;
    background: #FF6600;
    border: none;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

/* =========================================================== */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

.mfp-hide {
    display: none !important;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

iframe {
    border: none;
}

/* video  */
@media (min-width: 1280px) {
    .numb__title h3 {
        font-size: 2.75rem;
        line-height: 50px;
        max-width: 100%;
    }
    .video__content {
        min-height: 550px;
    }
}
@media (min-width: 769px) and (max-width: 1279px) {
    .numb__countUp {
        margin-top: 0px;
    }
    
    .numb__title h3 {
        font-size: 2.5rem;
        line-height: 40px;
        max-width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 768px){
    .countUP__item .countItem__content {
        margin-top: -20px;
    }
    .numb__title h3 {
        font-size: 2.1rem;
        line-height: 35px;
    }
    .countItem__content {
        text-align: center;
        padding: 30px 10px;
    }
    .countItem__content .number {
        font-size: 2rem;
    }
    .countItem__content .subcrip {
        font-size: 1rem;
    }
    .video__content {
        min-height: 350px;
    }
}
@media (max-width: 480px) {
    .numb__title h3 {
        font-size: 1rem;
        line-height: 30px;
    }
    .video__content {
        min-height: 300px;
    }
}