* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.services__item {
    padding: 0 15px;
    transition: all .5s;
}

.itemsv__content {
    background-color: #fff;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 40px;
    transition: all .5s;
}

.itemsv__content:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.itemsv__top {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}

.itemsv__top .itemsv__left {
    background: #8273FC0D;
    width: 70px;
    height: 70px;
    line-height: 82px;
    border-radius: 6px;
    text-align: center;
    transition: all .5s ease-in-out;
}

.itemsv__top .itemsv__left i {
    color: #ff6600;
    font-size: 1.5625rem;
}

.itemsv__top .itemsv__right p {
    color: #161C2DB3;
    font-size: 1.125rem;
    margin: 0;
}

.itemsv__top .itemsv__right h4 {
    color: #232121;
    margin-top: 5px;
    padding: 0;
}

.itemsv__right h4 a {
    color: #232121;
    font-size: 1.45rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.itemsv__content p:last-of-type {
    color: #161C2DB3;
    font-size: 1.125rem;
    line-height: 30px;
    margin: 0;
}

.itemsv__content:hover .itemsv__left {
    background-color: #ff6600;
}

.itemsv__content:hover .itemsv__left i {
    color: #fff;
}

.itemsv__right h4 a:hover {
    color: #ff6600;
}

@media (min-width: 1280px) {
    .itemsv__top .itemsv__right h4 a {
        font-size: 1.35rem;
    }
}
@media (min-width: 769px) and (max-width: 1279px) {
    .itemsv__top .itemsv__right h4 a {
        font-size: 1.25rem;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .itemsv__content p:last-of-type {
        font-size: 1.1rem;
        line-height: 26px;
    }
}
@media (max-width: 480px) {
    .itemsv__top .itemsv__right h4 a {
        font-size: 1rem;
    }
}