* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.testimonials .item {
  display: inline-block;
  justify-content: center;
}
.testimonials .item__content {
  width: 60%;
  display: block;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.testimonials .content a.comment-img img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
blockquote {
  border-left: none;
}
.clients blockquote q::before {
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
  margin-top: 20px;
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
.clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  font-style: italic;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ff6600;
}
.testimonials h2 {
  margin-top: none;
  margin-bottom: none;
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
/* .testimonials h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
  text-align: center;
} */
button:focus {
  outline: none;
  outline: none;
}

.testimonials__name {
  font-size: 20px;
  font-weight: 700;
  color: #232121;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: normal;
}

.owl-dots {
  padding-top: 16px;
}